<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieMate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieMate.WebApp.styles.css" asp-append-version="true" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar-custom">
            <div class="navbar-custom-container">
                <a asp-area="" asp-page="/Index"> <img class="navimage" src="~/images/MovieMateLogo.png" alt="MovieMateLogo" /> </a>

                <ul class="navbar-nav-custom">
                    <li class="watchlist-container nav-item-custom">
                        <img class="watchlist-icon" src="~/images/WatchlistIcon.png" alt="WatchlistIcon" />
                        <a class="navcolor nav-link" asp-page="/Watchlist/Index">Watchlist</a>
                    </li>

                    <li class="search-container-wrapper nav-item-custom">
                        <form asp-page="/Index" method="get" class="search-form-custom">
                            <div class="search-container">
                                <input class="search-bar"
                                       type="text"
                                       name="SearchTerm"
                                       placeholder="Search movies by title..."
                                       value="@(ViewContext.HttpContext.Request.Query["SearchTerm"])" /> @* Behoudt zoekterm in balk *@
                                <button class="search-btn" type="submit">
                                    <img class="search-img" src="~/images/SearchIcon.png" alt="SearchIcon" />
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>

                <div class="auth-actions-container">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-content-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-custom">
        <div class="container">
            © @DateTime.Now.Year - MovieMate
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>